.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gauge svg g text {
  font-size: 18px;
  font-family: 'LyftPro-Regular';
}
/* for middle text */
.gauge svg g g text {
  font-size: 20px;
  font-family: 'LyftPro-Bold';
}
