@font-face {
  font-family: 'LyftPro-Regular';
  src: local('LyftPro'),
    url(../../fonts/LyftPro/LyftPro-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'LyftPro-Light';
  src: local('LyftPro'),
    url(../../fonts/LyftPro/LyftPro-Light.otf) format('opentype');
}

@font-face {
  font-family: 'LyftPro-Bold';
  src: local('LyftPro'),
    url(../../fonts/LyftPro/LyftPro-Bold.otf) format('opentype');
}

body {
  font-family: LyftPro-Regular;
  background-color: white;
}

.txt {
  color: white;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #420499 !important;
}
.MuiTypography-h6 {
  font-family: LyftPro-Regular !important;
}
.MuiTypography-h5 {
  font-family: LyftPro-Bold !important;
}
.MuiTypography-h4 {
  font-family: LyftPro-Regular !important;
}
.MuiTypography-h3 {
  font-family: LyftPro-Regular !important;
}
.MuiTypography-subtitle2 {
  font-family: LyftPro-Regular !important;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.MuiToolbar-regular {
  min-height: 50px !important;
}
