.match-card {
  background-color: white;
  border-color: #7f7f7f;
}
.match-card text {
  font-family: LyftPro-Regular;
  font-size: 1.3rem;
}

#matchbutton {
  background-color: #604cff;
  border-color: #604cff;
  border-radius: 1.5rem;
  transition: 0.2s ease-in-out;
}
#matchbutton:active {
  background-color: #420499;
  border-color: #420499;
  box-shadow: 0 0 4px #420499;
  transition: 0.1s ease-in-out;
  transform: scale(1.03);
}
#matchbutton:focus {
  /* background-color: #420499; */
  border-color: #420499;
  box-shadow: 0 0 4px #420499;
  transform: scale(1.03);
}
#matchbutton:hover {
  /* background-color: #420499; */
  border-color: #420499;
  box-shadow: 0 0 4px #420499;
  transform: scale(1.03);
}

#phrasesField {
  margin-bottom: 2px;
  border-radius: 1.5rem;
  transition: 0.2s ease-in-out;
}
#phrasesField:focus {
  border-color: #420499;
  box-shadow: 0 0 4px #420499;
  transform: scale(1.03);
}
#phrasesField:hover {
  transform: scale(1.03);
  box-shadow: 0 0 4px #420499;
}
#filePathField {
  margin-bottom: 5px;
  border-radius: 1.5rem;
  transition: 0.2s ease-in-out;
}
#filePathField:focus {
  border-color: #420499;
  box-shadow: 0 0 4px #420499;
}
#filePathField:hover {
  transform: scale(1.03);
  box-shadow: 0 0 4px #420499;
}
ul {
  list-style-type: none;
}
