.txt {
  color: white;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #420499 !important;
}
.MuiTypography-h6 {
  font-family: LyftPro-Regular !important;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
