.foot {
  background-color: #420499;
  text-decoration: none;
  transform: none;
}

.footlink {
  background-color: #420499;
  color: white;
}
.footlink:hover {
  color: #c8cbfc;
  text-decoration: none;
}
