.foot {
  background-color: #420499;
}

.footer {
  /* color: white; */
  text-decoration: none;
  transform: none;
}
.footer:hover {
  color: white;
  text-decoration: none;
  transform: none;
}
a {
  color: white;
  background-color: #420499;
}
a:hover {
  text-decoration: none;
  transform: none;
}
